
* {
    user-select: none;
}

html,
body {
    background: #444;
    font-family: Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden
}

/*    canvas {z-index: 0;position: fixed;} */
@keyframes loading {
    0% {
        transform: rotate(0);
        border-radius: 5px
    }

    50% {
        transform: rotate(45deg);
        border-radius: 20px
    }

    100% {
        transform: rotate(90deg);
        border-radius: 5px
    }
}

#loading {
    background: #000;
    color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 300
}

.loader {
    width: 30px;
    height: 30px;
    border: 5px solid;
    animation: loading 1s ease infinite
}

.hide {
    display: none !important;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 600;
}

#loading {
    background: #000;
    color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 300
}

#video {
    position: fixed;
    display: none;
    z-index: -2;
    height: 100vh;
    top: 0;
    left: 50%;
    object-fit: fill;
    transform: translateX(-50%);
    pointer-events: none;
}

#video-blur {
    position: fixed;
    display: none;
    z-index: -2;
    top: 50%;
    left: 50%;
    object-fit: fill;
    width: 120vw;
    transform: translate(-50%, -50%);
    pointer-events: none;
    filter: blur(10px) brightness(60%) contrast(150%) saturate(1.6);
}


.header {
    text-align: center;
    position: fixed;
    z-index: 3;
    left: -50%;
    width: 200%;
    box-sizing: border-box;
    color: #FFFFFF;
    transform: rotate(0deg);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: 30px;
}

.header-wording {
    position: absolute;
    width: 50%;
    left: 25%;
    height: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0deg) scale(1);
    animation: anim0 1s ease infinite;
}

.header-background {
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url();
    background-color: #000000;
    opacity: 0.5;
}

@keyframes anim0 {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes anim1 {
    0% {
        transform: rotate(10deg)
    }

    14% {
        transform: rotate(-9deg)
    }

    28% {
        transform: rotate(8deg)
    }

    42% {
        transform: rotate(-7deg)
    }

    56% {
        transform: rotate(6deg)
    }

    70% {
        transform: rotate(-1deg)
    }

    95% {
        transform: rotate(0)
    }

    97% {
        transform: rotate(-3deg)
    }

    100% {
        transform: rotate(10deg)
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes translateXHand {
    0% {
        transform: translate(-175%, -50%)
    }

    50% {
        transform: translate(75%, -50%)
    }

    100% {
        transform: translate(-175%, -50%)
    }
}

@keyframes translateYHand {
    0% {
        transform: translate(-50%, -175%)
    }

    50% {
        transform: translate(-50%, 75%)
    }

    100% {
        transform: translate(-50%, -175%)
    }
}

@keyframes touchHand {
    0% {
        transform: translate(-50%, -50%) scale(0.9) rotate(-5deg)
    }

    25% {
        transform: translate(-25%, 0%) scale(1) rotate(0deg)
    }

    75% {
        transform: translate(-25%, 0%) scale(1) rotate(0deg)
    }

    100% {
        transform: translate(-50%, -50%) scale(0.9) rotate(-5deg)
    }
}

@keyframes holdHand {
    0% {
        transform: translate(-50%, -50%) scale(0.9) rotate(-5deg)
    }

    60% {
        transform: translate(-50%, -50%) scale(0.9) rotate(-5deg)
    }

    80% {
        transform: translate(-25%, 0%) scale(1) rotate(0deg)
    }

    100% {
        transform: translate(-50%, -50%) scale(0.9) rotate(-5deg)
    }
}
